MYSQL_USER=""
MYSQL_PASSWORD=""
MYSQL_ROOT_PASSWORD=""
MYSQL_DATABASE=""
MYSQL_HOST="localhost:3366"
PUBLIC_KEY_PATH="keys/JWT_public.pem"
PRIVATE_KEY_PATH="keys/JWT_private.pem"
PUBLIC_REFRESH_KEY_PATH="keys/JWT_REFRESH_public.pem"
PRIVATE_REFRESH_KEY_PATH="keys/JWT_REFRESH_private.pem"
JWT_TOKEN_EXP="60m"
JWT_REFRESH_TOKEN_EXP="720h"